.video-container {
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 317px;
  height: 230px;
}
.video-container:hover {
  transform: scale(1.05);
}
.thumbnail {
  width: 312px;
  height: 175px;
}
.close-button {
  width: 2%;
  height: 2%;
  float: right;
}

#menubar {
  height: 100px;
}
#main-button {
  width: 200px;
}
#logo, #uploader, #metamask {
  display: inline;
}
#logo {
  cursor: pointer;
  margin: 10px;
  width: 300px;
  float: left;
}
#uploadButton {
  cursor: pointer;
  width: 70px;
  float: right;
}
#uploadButton:hover {
  transform: scale(1.05);
}
#walletButton {
  cursor: pointer;
  width: 70px;
  float: right;
}
#walletButton:hover {
  transform: scale(1.05);
}
#overlay {
  padding: 10px;
  position: fixed;
  display: none;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:aliceblue;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#uploading-layer {
  clear: right;
}
#uploading-functions {
  text-align: center;
}
#video-uploader {
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#select-video-button {
  width: 210px;
}
#select-thumbnail-button {
  width: 200px;
}

video {
  width: 640px;
  height: 360px;
}
img {
  cursor: pointer;
}