.logo {
  cursor: pointer;
  margin: 10px;
  width: 300px;
}
.main-logo {
  width: 200px;
}
.menubar {
  height: 100px;
}
.video-container {
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 317px;
  height: 230px;
}
.video-container:hover {
  transform: scale(1.05);
}
.thumbnail {
  width: 312px;
}

#logo, #uploader, #metamask {
  display: inline;
}
#logo {
  float: left;
}
#uploadButton {
  cursor: pointer;
  width: 70px;
  float: right;
}
#uploadButton:hover {
  transform: scale(1.05);
}
#walletButton {
  cursor: pointer;
  width: 70px;
  float: right;
}
#walletButton:hover {
  transform: scale(1.05);
}

video {
  width: 640px;
  height: 360px;
}