<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      video {
        width: 640px;
        height: 360px;
      }
    </style>
    <title>Web3.0 Video Streaming</title>
    <link rel="icon" href="/favicon.ico"/>
    
    <script type="module" defer src="/bundle.js"></script>
  </head>
  <body>

    <video id="video" controls autoplay></video>
    <div id="status"></div>
  </body>
</html>
