<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <script>
      function lobbyButton() {
        window.location.href = '/';
      }
      function playVideo(cid) {
        window.location.href = '/player?cid=' + cid;
      }
    </script>
  </head>
  <body>
    <div class="menubar">
      <div>
        <div class="lobby" onclick="lobbyButton()">
          <div><img src="/ipfs.jpeg"></div>
          <div>INLabTube</div>
        </div>
      </div>
    </div>
    <div class="video-lists">
      <div class="video-container" onclick="playVideo('QmR3zmVpKFvukuUfXQiKmQYjgiEPnnu5MqShXc9BDXg7Lc')">
        <div><img class="thumbnail" src="/rapunzel.jpeg"></div>
        <div>Mandy Moore - When Will My Life Begin? (From "Tangled"/Sing-Along)</div>
      </div>
      <div class="video-container" onclick="playVideo('QmNMqPbeey2UgEg845jCbXoYS6j4r7H8sdHECSWySXFKUC')">
        <div><img class="thumbnail" src="/bbibbi.jpeg"></div>
        <div>[MV] IU(아이유) _ BBIBBI(삐삐)</div>
      </div>
      <div class="video-container" onclick="playVideo('QmfX11CEop7W8EvQCtp13TKHHCg3pArcsi3ZXRsXoCVCKi')">
        <div><img class="thumbnail" src="/zombie.jpeg"></div>
        <div>Day6 "Zombie" M/V</div>
      </div>
      <div class="video-container" onclick="playVideo('QmSqk4PM2JcHRj6jMchvvSL2uw8cmwZyezpLSEnBAmRNpu')">
        <div><img class="thumbnail" src="/holomyth.jpeg"></div>
        <div>[Original MV] Myth or Treat - Happy Halloween - holoMyth</div>
      </div>
      <div class="video-container" onclick="playVideo('QmSzVEDrm2JpBjDTppygGdpugAcMsUcJBxVM8onSWSfJFA')">
        <div><img class="thumbnail" src="/some.jpeg"></div>
        <div>[MV] BOL4(볼빨간사춘기) _ Some(썸 탈꺼야)</div>
      </div>
      <div class="video-container" onclick="playVideo('')">
        <div><img class="thumbnail" src="/hiyoutube.jpeg"></div>
        <div>HI YOUTUBE</div>
      </div>
      <div class="video-container" onclick="playVideo('QmTK3rKD7UGWyQnmtAdyTHqYmHqHyrP5mpd1o4g7tjbJSa')">
        <div><img class="thumbnail" src="/dynamite.jpeg"></div>
        <div>BTS (방탄소년단) 'Dynamite' Official MV</div>
      </div>
      <div class="video-container" onclick="playVideo('QmR5rNFTLCmrhEUTpcLuKVWMSNuofrPqNo5QTo1GFnDx76')">
        <div><img class="thumbnail" src="/bae.jpeg"></div>
        <div>Bae can't stop Laughing at Cheese Gura [Hakos Baelz  Gawr Gura]</div>
      </div>
      <div class="video-container" onclick="playVideo('QmTmTB3JANQ2TVSbVpLbbFNshLFPXXWQ3CnFR61Z4h2gYA')">
        <div><img class="thumbnail" src="/komi.jpeg"></div>
        <div>Komi Can't Communicate Season 2 - Official Trailer  AniTV</div>
      </div>
    </div>
  </body>
</html>
