<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <script>
      function mainButton() {
        window.location.href = '/';
      }
      function playVideo(cid) {
        window.location.href = '/player?cid=' + cid;
      }
      async function connectWalletPressed() {
        if (window.ethereum) {
          try {
            const addressArray = await window.ethereum.request({
              method: "eth_requestAccounts",
            });
            if (addressArray.length > 0) {
              console.log("🦊 MetaMask connected!");
              document.getElementById('walletButton').src = "/MetaMask_Logged_In.png";
            } else {
              console.log("🦊 Please connect to MetaMask using the top-right button.");
            }
          } catch (error) {
            console.log("😥 Something went wrong." + error);
          }
        }
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        if (window.ethereum) {
          try {
            const addressArray = await window.ethereum.request({
              method: "eth_accounts",
            });
            if (addressArray.length > 0) {
              console.log("🦊 MetaMask connected!");
              document.getElementById('walletButton').src = "/MetaMask_Logged_In.png";
            } else {
              console.log("🦊 Please connect to MetaMask using the top-right button.");
              document.getElementById('walletButton').src = "/MetaMask_Logged_Out.png";
            }
          } catch (error) {
            console.log("😢 " + error);
          }
        } else {
          console.log("You need to install MetaMask");
        }
      });
    </script>
  </head>
  <body>
    <div class="menubar">
      <div id="logo" class="logo" onclick="mainButton()">
        <img class="main-logo" src="/logo.jpg">
      </div>
      <div id="metamask" class="Minter">
        <img id="walletButton" float="right" onClick="connectWalletPressed()">
      </div>
    </div>
    <div class="video-lists">
      <div class="video-container" onclick="playVideo('bafybeidgwvkpuxvxe5aejxozgd5c3r27l4oj34rva2tm5tgdx22vy5s6cm')">
        <!-- QmVFafZLRaW6WGR5TPVu5R8j96o2WA3o22UD5Cfmmvf8ZQ -->
        <div><img class="thumbnail" src="/rapunzel.jpeg"></div>
        <div>Mandy Moore - When Will My Life Begin? (From "Tangled"/Sing-Along)</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeih6rm6n3zibdfczsctr73djeoez53km3wuh5syfp4noilo7ej2hgy')">
        <!-- QmfUHQaafM9XzF45TWBYmmhHBNXAPGMWEstS99tzwvhR8q -->
        <div><img class="thumbnail" src="/bbibbi.jpeg"></div>
        <div>[MV] IU(아이유) _ BBIBBI(삐삐)</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeihqlyssv2zdyljfbafdtnlqcxw3kicyf2wnm5otbghif4e3km54mu')">
        <!-- QmeWwpUz7DmRFwiRxxJqW9SR5xDYoEDFSjQs8aHApaZHVW -->
        <div><img class="thumbnail" src="/zombie.jpeg"></div>
        <div>Day6 "Zombie" M/V</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeige5eg4hg6nkw3ubze36x6hmiwoddz4seig767l6x5rhs42oxvtsa')">
        <!-- QmbbJjRUj5Y6UYUNycYr56mNfm6oRSGzFqQPFdTC7MLdyR -->
        <div><img class="thumbnail" src="/holomyth.jpeg"></div>
        <div>[Original MV] Myth or Treat - Happy Halloween - holoMyth</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeibgjdansawxeudbtqvj7dlmowwqsaugqd7mzrf4okr5l5cuemjmzq')">
        <!-- QmQv6Yb9WUQsnkcuef3CWF87teVABCF1A8oqg5A2HD8Yg3 -->
        <div><img class="thumbnail" src="/some.jpeg"></div>
        <div>[MV] BOL4(볼빨간사춘기) _ Some(썸 탈꺼야)</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeigwiw6ngj5aeqkim27xb5bpgg3pdpuk3xvwypqp3yotf6vun25jnu')">
        <!-- Qmcm5dg9SxYiwb93ofKSQSnHLJYZPkwwtR3Wrqw57GPyVN -->
        <div><img class="thumbnail" src="/hiyoutube.jpeg"></div>
        <div>HI YOUTUBE</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeig4w6vyzgdgujgenmbn6a7pozzfq74ic464mcylly4gspbl2m5hsq')">
        <!-- QmdCEqn9rshHYaJKzNEL4jsT2pLQWgzqQVuQNqUMNZPVjH -->
        <div><img class="thumbnail" src="/dynamite.jpeg"></div>
        <div>BTS (방탄소년단) 'Dynamite' Official MV</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeibxxi3jzpgqvcugfh4qgddvjbdngkud7jlpuofvzpxcibod2boi6i')">
        <!-- QmS6BpZrMCF6MULyrMzzFyPv4LCi9HDXHxepwKQynABKCm -->
        <div><img class="thumbnail" src="/bae.jpeg"></div>
        <div>Bae can't stop Laughing at Cheese Gura [Hakos Baelz  Gawr Gura]</div>
      </div>
      <div class="video-container" onclick="playVideo('bafybeieq4tpjhvinqibhis75ob2gnpskyfkxvhi4sxsqw3xqwbrkjystie')">
        <!-- QmY6FqAnTFeRy2TqaJrmbHajnQijHM4yQD8TwhmF7jXuZa -->
        <div><img class="thumbnail" src="/komi.jpeg"></div>
        <div>Komi Can't Communicate Season 2 - Official Trailer  AniTV</div>
      </div>
    </div>
  </body>
</html>
