<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/front.js"></script>
  </head>
  <body>
    <div id="overlay">
        <div id="overlay-contents">
          <div id="close-video-upload">
            <input type="image" class="close-button" src="/close-button.png" onclick="off()">
          </div>
          <div id="uploading-layer">
            <div id="uploading-functions">
              <div id="video-uploader">
                <form id="upload-form" method="POST" action="/upload" enctype="multipart/form-data">
                  <div>
                    <input type="file" id="select-video" name="uploading" accept="video/mp4" capture style="display:none"/>
                    <img src="/select-video.png" id="select-video-button">
                    <input type="file" id="select-thumbnail" name="thumbnail" accept="image/*" capture style="display:none"/>
                    <img src="/select-thumbnail.png" id="select-thumbnail-button">
                  </div>
                  <div id="video-submit-button">
                    <input type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="menubar">
      <div id="logo" onclick="mainButton()">
        <img id="main-button" src="/logo.jpg">
      </div>
      <div id="uploader" class="upload" onclick="on()">
        <div>
          <img id="uploadButton" src="/upload.png">
        </div>
      </div>
    </div>
    <div id="video-lists"></div>
  </body>
</html>
