<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script>
    <script src="/cdnhls.js"></script>
    <script src="/test.min.js"></script>
    <script type="text/javascript" src="/streaming.js"></script>
    <script>
      function mainButton() {
        window.location.href = '/';
      }
    </script>
  </head>
  <body>
    <div class="menubar">
      <div>
        <div class="main" onclick="mainButton()">
          <div><img class="main-logo" src="/logo.jpg"></div>
          <div>INLabTube</div>
        </div>
      </div>
    </div>
    <script>
      let state = window.location.search;
      let splitState = state.split('=');
      let CID = splitState[1];

      // When this page is on, run IPFS for video streaming
      initIPFS(CID)
    </script>

    <video id="video" controls autoplay></video>
    <div id="status"></div>
  </body>
</html>
