<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script>
    <script src="/cdnhls.js"></script>
    <script src="/hlsjs-ipfs-loader.min.js"></script>
    <script type="text/javascript" src="/streaming.js"></script>
    <script type="text/javascript" src="/front.js"></script>
  </head>
  <body>
    <div id="overlay">
      <div id="overlay-contents">
        <div id="close-video-upload">
          <input type="image" class="close-button" src="/close-button.png" onclick="off()">
        </div>
      </div>
    </div>
    <div id="menubar">
      <div id="logo" onclick="mainButton()">
        <img id="main-button" src="/logo.jpg">
      </div>
    </div>
    <script>
      let state = window.location.search;
      let splitState = state.split('=');
      let CID = splitState[1];

      // When this page is on, run IPFS for video streaming
      initIPFS(CID);
    </script>

    <video id="video" controls autoplay></video>
    <div id="status"></div>
  </body>
</html>
